#BEGIN WRAP
<Files wp-login.php>
  AuthType WRAP
  require affiliation ncsu.edu
#ADD NEW USER HERE
</Files>
#END WRAP

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress